#consoleHeader{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10pt;
    font-weight: bold;
    padding-bottom: 0pt;
}

#consoleExpandButton{
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#consoleExpandButton:active{
    transform: scale(0.9);
}

.consoleIconRotate{
    transform: rotate(-45deg);
}

#consoleTerminal{
    background-color: var(--color-background);
    border-radius: 10pt;
    border-style: solid;
    border-width: 1.5pt;
    border-color: var(--border-color);
    overflow: hidden;
    min-height: 0;
    padding: 15pt;

    display:flex;
    flex-direction: column;
    flex: 1;
}

#consoleInput{
    background-color: var(--surface-color-hover);
    border-radius: 7.5pt;
    border-style: solid;
    border-width: 1.5pt;
    border-color: var(--border-color);
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5pt;
}

#consoleInputField{
    font-size: 11pt;
    background-color: transparent;
    border: none;
    min-height: 100%;
    color: var(--text-color);
    flex: 1;
}

#consoleInputField:focus{
    outline: none;
}

.consoleOutput{
    flex: 1;
    min-height: 0;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-family: 'VT323', monospace;
    font-size: 15pt;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}