.infoScreenPopup{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.2s ease-in-out;
}

.infoScreenPopupHidden{
    opacity: 0 !important;
    z-index: -5 !important;
}

.infoScreenConfirmationContent{
    padding: 12.5pt;
    border: 1.5pt solid var(--border-color);
    border-radius: 7.5pt;
    background-color: var(--surface-color);
    display: flex;
    flex-direction: column;
    gap: 10pt;
    align-items: center;

    div{
        font-size: 12pt;
        font-weight: bold;
        color: var(--text-color);
    }
}

.infoScreenCloseButton{
    color: var(--text-color-secondary);
    font-size: 12pt;
    align-self: flex-start;
    cursor: pointer;
}