.mainPage{
    display: grid !important;
    grid-template-rows: 0.5fr 6fr !important;
    gap: 15pt !important;
    overflow: hidden !important;
    min-height: 0 !important;
}

.settingsContent{
    display:flex;
    flex-direction: column;
    gap: 15pt;
    overflow-y: auto;
}

.settingsTab{
    background-color: var(--surface-color);
    border-style: solid;
    border-width: 1.5pt;
    border-color: var(--border-color);
    border-radius: 7.5pt;
    padding: 15pt;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15pt;
    min-height: fit-content;
}

.settingsTabTitle{
    font-size: 16pt;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10pt;
}

.serverSetupTabs{
    display:flex;
    flex-direction: row;
    gap: 10pt;

}

.serverSetupTab{
    padding: 10pt;
    border-style: solid;
    border-width: 1.5pt;
    border-color: var(--border-color);
    border-radius: 7.5pt;
    box-shadow: inset 0 0 2px var(--color-background);
    
    display:flex;
    flex-direction: column;
    gap: 5pt;
    align-items: center;

    font-size: 12pt;
}

#sshIpPort{
    display: flex;
    flex-direction: row;
    gap: 5pt;
}

.serverSetupTabSubtitle{
    font-size: 10pt;
    color: var(--text-color);
    font-weight: bold;
    margin-top: 5pt;
}

.serverSetupSubmit{
    line-height: 1;
    padding: 5pt 10pt;
    margin-top: 10pt;
    border-style: solid;
    border-width: 1.5pt;
    border-color: var(--accent-primary);
    border-radius: 7.5pt;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5pt;
    transition: all 0.2s ease-in-out;
}

.serverSetupSubmit:hover{
    background-color: var(--accent-primary);
    color: var(--color-background);
}


.serverSetupSubmit:active{
    transform: scale(0.9);
}

.userSettingsList{
    display: flex;
    flex-direction: column;
    gap: 10pt;
    max-height: 250pt;
    overflow-y: auto;
}

.userSettingsUserItem{
    padding: 10pt;
    display: flex;
    flex-direction: row;
    gap: 10pt;
    align-items: center;
    justify-content: space-between;

    border-style: solid;
    border-width: 1.5pt;
    border-color: var(--border-color);
    border-radius: 7.5pt;  
    background-color: var(--color-background); 
    font-weight: bold;
}

.userSettingsUserItem span{
    line-height: 1;
    transform: translateY(2px);
}

.userSettingsUserItemName{
    display: flex;
    flex-direction: row;
    gap: 10pt;
    align-items: center;
}

#addUserSpan{
    display: flex;
    flex-direction: row;
    gap: 10pt;
    align-items: center;
}

#addUserItem{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#addUserItem:hover{
    background-color: var(--surface-color-hover);
    color: var(--accent-primary);
}

#addUserItem:active{
    transform: scale(0.99);
}
